################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LFGateway
/Yleo.LFGateway.*/bin
/Yleo.LFGateway.*/obj
